<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ac34708d-9f5a-4e61-9c56-02138322ed5d/resourceGroups/LLamaBotRG/providers/Microsoft.Web/sites/LLamaBot</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://llamabot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>llamabot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LLamaBot</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LLamaBot</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>